<div class="content-wrapper">
<div class="container mt-5">
    <div class="row">
        <div class="ml-5">
           <h1 style="text-align: center;">Patient Family Members</h1>
        </div>
        
        <div class="col-md-4 mb-3" >
            <div class="card p-3">
                <div class="d-flex flex-row mb-2">
                    <div class="d-flex flex-column ml-2  p-3" *ngIf ="patientinfo">
                        <span>Name : {{patientinfo.familyMemberName}}</span>
                        <span class="text-black-50">PatientId : {{patientinfo.patientId}}
                        </span>
                        <span class="text-black-50">Relationship : {{patientinfo.relationship}}
                        </span>
                        <span class="text-black-50">Phone : {{patientinfo.phonNo}}
                        </span>
                        <span class="text-black-50">Address : {{patientinfo.address}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</div>